header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #000;
  color: #fff;
}

header img {
  width: 100px;
  height: 100px;
}

header ul {
  display: flex;
  align-items: center;
  list-style: none;
}

header ul li {
  margin: 0 10px;
  text-transform: uppercase;
}

header ul li a {
  color: #fff;
  text-decoration: none;
}

header ul li a:hover {
  text-decoration: underline;
}

/* media query ipad */
@media (max-width: 768px) {
  header {
    background-image: url("../imagenes/background-3.jpg");
    flex-direction: column;
    align-items: center;
  }
  header ul {
    margin: 15px;
  }
  header ul li a {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  header {
    background-image: url("../imagenes/background-3.jpg");
    flex-direction: column;
    align-items: center;
  }
  header ul {
    margin: 15px;
  }
  header ul li a {
    font-size: 14px;
  }
}
/*Footer*/
footer {
  display: flex;
  background-color: black;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  margin: 0%;
  padding: 0%;
}

.ft-nav {
  color: white;
  text-decoration: none;
  align-items: center;
}

.ft-ul {
  display: flex;
  color: white;
  text-decoration: none;
  justify-content: space-around;
  list-style-type: none;
}

.ft-img {
  max-height: 300px;
}

#mapa {
  max-width: 250px;
  max-height: 250px;
  margin: 0%;
}

#instagram {
  margin-left: 30px;
  margin-right: 30px;
}

#nosotros {
  margin-left: 30px;
  margin-right: 30px;
}

#wp {
  margin-left: 30px;
  margin-right: 1px;
}

/*Fin Footer*/
/* media query ipad */
@media (max-width: 768px) {
  footer {
    background-image: url("../imagenes/background-3.jpg");
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
  }
  .ft-nav {
    margin: 25px 0;
  }
  #mapa {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  footer {
    background-image: url("../imagenes/background-3.jpg");
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
  }
  .ft-nav {
    margin: 25px 0;
  }
  #mapa {
    display: none;
  }
}
/* Productos*/
.intel {
  display: flex;
  justify-content: space-around;
  padding: 300px;
  flex-wrap: wrap;
}

.intel-productos {
  display: flex;
}

.amd {
  display: flex;
  padding: 300px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.ryzen-productos {
  display: flex;
}

.ryzen-productos:hover {
  transform: scale(1.5);
  transition: all 0.5s;
}

.intel-productos:hover {
  transform: scale(1.5);
  transition: all 0.5s;
}

/* media query for ipad */
@media (max-width: 768px) {
  .intel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .intel-productos {
    display: flex;
    padding: 60px 0;
  }
  .intel-productos:hover {
    transform: none;
    transition: none;
  }
  .amd {
    display: flex;
    padding: 100px;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .ryzen-productos {
    display: flex;
    padding: 60px;
  }
  .ryzen-productos:hover {
    transform: none;
    transition: none;
  }
}
/* Novedades */
.novedades-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

#imagenes-rtx {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parrafo-novedades {
  color: black;
  display: flex;
  justify-items: flex-start;
  align-content: row;
  font-size: 20px;
  padding: 15fr;
  margin-top: 15px;
}

.img-novedades {
  padding: 20px;
  align-items: center;
}

.center-novedades {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.novedades-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.novedades-2 p {
  color: #000;
  width: 500px;
  columns: 2;
}

.novedades-2 p {
  color: #000;
  width: 500px;
}

@media (max-width: 1100px) {
  .novedades-2 p {
    width: 400px;
  }
  .novedades-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/* media query for ipad */
@media (max-width: 768px) {
  .novedades-2 div {
    column-count: 1;
  }
  .novedades-2 p {
    text-align: center;
    width: 500px;
  }
  #imagenes-rtx {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-novedades {
    padding: 30px;
    align-items: center;
  }
  .center-novedades {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
}
.parrafo-servicios {
  border: 2px solid red;
  padding: 300px;
  display: flex;
}

.contenido-servicios-1 {
  text-size-adjust: 30px;
  color: red;
  padding: 200px;
  justify-content: center;
}

.parrafo-servicios-2 {
  border: 2px solid red;
  padding: 300px;
  display: flex;
}

.contenido-servicios-2 {
  text-size-adjust: 30px;
  color: red;
  padding: 200px;
  justify-content: center;
}

/* Main*/
main {
  background-color: grey;
  background-size: cover;
}

.img-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.parrafo {
  color: whitesmoke;
  padding: 30px;
  text-align: center;
  font-family: fantasy;
}

/*section*/
.img-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 1100px) {
  .img-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5pxs;
  }
  .img-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  main {
    background-color: #F0F8FF;
    background-size: cover;
  }
  .parrafo {
    color: #000000;
    padding: 30px;
    text-align: center;
    font-family: fantasy;
  }
}
@media (max-width: 768px) {
  .img-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
  }
  .img-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  main {
    background-color: #F0F8FF;
    background-size: cover;
  }
  .parrafo {
    color: #000000;
    padding: 30px;
    text-align: center;
    font-family: fantasy;
  }
}
/* esto es un comentario*/
* {
  margin: 0px;
  padding: 0px;
}

/*Mobile*/
/*body{
    max-width: 100%;
    max-height: 100%;
    margin: 0%;
    padding: 0%;
    background: url(imagenes/background.jpg);
    background-size: %;   

}*/
/* etiqueta A=LINK*/
a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

/*Fin etiqueta A=LINK*/

/*# sourceMappingURL=style.css.map */
