/*Footer*/
footer{
    display: flex;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    margin: 0%;
    padding: 0%;
}
.ft-nav{color: white;
    text-decoration: none;
    align-items: center;

}
.ft-ul{
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: space-around;
    list-style-type: none;
}
.ft-img{
    max-height: 300px;
}
#mapa{
    max-width: 250px;
    max-height: 250px;
    margin: 0%;
}
#instagram{
    margin-left: 30px;
    margin-right: 30px;
}
#nosotros{
    margin-left: 30px;
    margin-right: 30px;
}
#wp{
    margin-left: 30px;
    margin-right: 1px;
}
/*Fin Footer*/

  /* media query ipad */
  @media (max-width: 768px) {
    footer {
      background-image: url("../imagenes/background-3.jpg");
      flex-direction: column;
      align-items: center;
      padding: 25px 0;
    }
    .ft-nav{
        margin: 25px 0;
    }
    #mapa{
        display: none;
    }
}
@media only screen and (max-width: 600px){
    footer {
        background-image: url("../imagenes/background-3.jpg");
        flex-direction: column;
        align-items: center;
        padding: 25px 0;
      }
      .ft-nav{
          margin: 25px 0;
      }
      #mapa{
          display: none;
      }
    
}