header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #000;
    color: #fff;
  }
  
  header img {
    width: 100px;
    height: 100px;
  }
  
  header ul {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  header ul li {
    margin: 0 10px;
    text-transform: uppercase;
  }
  
  header ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  header ul li a:hover {
    text-decoration: underline;
  }
  
  /* media query ipad */
  @media (max-width: 768px) {
    header {
      background-image: url("../imagenes/background-3.jpg");
      flex-direction: column;
      align-items: center;
    }
    header ul {
      margin: 15px;
    }
  
    header ul li a {
      font-size: 14px;
    }
  }
  
  @media (max-width: 600px){
    header {
      background-image: url("../imagenes/background-3.jpg");
      flex-direction: column;
      align-items: center;
    }
    header ul {
      margin: 15px;
    }
  
    header ul li a {
      font-size: 14px;
    }

  }
  