
/* Main*/
main{
    background-color: grey;
    background-size: cover;
    
}
.img-main{
    display:flex;
    justify-content:space-around;
    align-items: center;
    
}
.parrafo{
    color: whitesmoke;
    padding: 30px;
    text-align: center;
    font-family: fantasy;
}
/*section*/
.img-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
@media (max-width: 1100px){
    .img-main{
        display:flex;
        justify-content:space-around;
        align-items: center;
        padding: 5pxs;
    }
    .img-section{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    main{
        background-color:#F0F8FF;
        background-size: cover;
        
    }
    .parrafo{
        color: #000000;
        padding: 30px;
        text-align: center;
        font-family: fantasy;
    }

}
@media (max-width: 768px){
    .img-main{
        display:flex;
        justify-content:space-around;
        align-items: center;
        padding: 5px;
    }
    .img-section{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    main{
        background-color:#F0F8FF;
        background-size: cover;
        
    }
    .parrafo{
        color: #000000;
        padding: 30px;
        text-align: center;
        font-family: fantasy;
    }

}