/* Novedades */
.novedades-1{
    border: 2px solid red;
    display: flex;
    column-count: 4;
}
#aside-1{
    border: 2px solid green;
    justify-items: flex-start;
    padding: 20px;
    float: right;
    column-count: 4;
    height: 100%;
    width: 40%;
}
#imagenes-rtx{
    display: flex;
    margin-left: 800px;
}
.parrafo-novedades{
    color: white;
    display: flex;
    justify-items: flex-start;
    align-content: row;
    font-size: 20px;
    padding: 15fr;
    margin-top: 15px;
}

.img-novedades{
    border: 2px solid green;
    padding: 20px;
    align-items: center;
    
}
.center-novedades{
    display: flex;
    justify-content: space-around;
    margin-left: 300px;
    align-items: center;
}

.novedades-2{
    border: 2px solid purple;
    display: flex;
}

#asiede-2{
    border: 2px solid black;
    float: left;
    column-count: 4;
    padding: 20px;
    overflow: hidden;
}
/* Fin de Novedades*/