/* Productos*/
.intel{
    display: flex;
    justify-content: space-around;
    padding: 300px;
    flex-wrap: wrap;
}
.intel-productos{
    display: flex;
    
}
.amd{
    display: flex;
    padding: 300px;
    justify-content: space-around;
    flex-wrap: wrap;

}
.ryzen-productos{
    display: flex;
}
.ryzen-productos:hover{
     transform: scale(1.5);
     transition: all 0.5s;
}
.intel-productos:hover{
    transform: scale(1.5);
    transition: all 0.5s;
}

/* media query for ipad */
@media (max-width: 768px){
    .intel{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 100px;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .intel-productos{
        display: flex;
        padding: 60px 0;
        

        
    }
    .intel-productos:hover{
        transform:none;
        transition:none;
    }
    .amd{
        display: flex;
        padding: 100px;
        justify-content: space-around;
        flex-wrap: wrap;  
    }
    .ryzen-productos{
        display: flex;
        padding: 60px;
    }
    .ryzen-productos:hover{
        transform: none;
        transition: none;
   }
}