.parrafo-servicios{
    padding: 300px;
    display: flex;
    
}
.contenido-servicios-1{
    font-size: large;
    text-size-adjust: 400px;
    color:black;
    padding: 200px;
    justify-content: center;
    font-family: inherit;
}
.parrafo-servicios-2{
    color: black;
    display: flex;
    justify-items: flex-start;
    align-content: row;
    font-size: 20px;
    padding: 15fr;
    margin-top: 15px;
}
.contenido-servicios-2{
    font-size: large;
    text-size-adjust: 400px;
    color:black;
    padding: 200px;
    justify-content: center;
    font-family: inherit;

}
.container-video-servicios{
    display: flex;
    justify-content: center;
    align-items: inherit;
}
.check-list {
    color: black;
    display: flex;
    justify-items: flex-start;
    align-content: row;
    font-size: 30px;
    padding: 15fr;
    margin-left: 30px;
    padding: 1%;
}
@media (max-width: 600px){
    .check-list{
        color: black;
        display: flex;
        justify-items: flex-start;
        align-content: row;
        font-size: 30px;
        padding: 15fr;
        margin-left: 30px;
        padding: 1%;

    }
    .container-video-servicios{
        display: flex;
        justify-content: center;
        align-items: inherit;
    }
    .parrafo-servicios-2{
        color: black;
        display: flex;
        justify-items: flex-start;
        align-content: row;
        font-size: 20px;
        padding: 15fr;
        margin-top: 15px;
    }
    .contenido-servicios-1{
        font-size: large;
        text-size-adjust: 400px;
        color:black;
        padding: 200px;
        justify-content: center;
        font-family: inherit;
    }

}