.parrafo-servicios{
    border: 2px solid red;
    padding: 300px;
    display: flex;
    
}
.contenido-servicios-1{
    text-size-adjust: 30px;
    color: red;
    padding: 200px;
    justify-content: center;
}
.parrafo-servicios-2{
    border: 2px solid red;
    padding: 300px;
    display: flex;
}
.contenido-servicios-2{
    text-size-adjust: 30px;
    color: red;
    padding: 200px;
    justify-content: center;

}